<h1>Appointment for <%= @product.name %></h1>

<%= form_for @appointment_form, url: appointment_path do |f| %>

  <%= render "shared/errors", object: f.object %>

  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div>
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>

  <div>
    <%= f.label :body %>
    <%= f.text_area :body %>
  </div>

  <div>
    <%= f.label :join_mailing_list do %>
      <%= f.check_box :join_mailing_list %>
      Join the mailing list
    <% end %>
  </div>

  <%= f.hidden_field :product_id %>
  
  <div>
    <%= f.submit "Send Message" %>
  </div>
<% end %>
