<h1>Leads</h1>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Updated at</th>
      <th>Type</th>
      <th>Source</th>
      <th>Product id (optional)</th>
      <th>Product name (optional)</th>
    </tr>
  </thead>

  <tbody>
    <% @leads.each do |lead| %>
      <tr>
        <td><%= lead.updated_at %></td>
        <td><%= lead.lead_type %></td>
        <td><%= lead.lead_source %></td>
        <td><%= lead.product&.id %></td>
        <td><%= lead.product&.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>
